.card-body {
  min-height: 600px;
}

.text-custom {
  color: #8b0000;
}

.main-content {
  background-image: url('src/assets/images/1306023.jpg');
  background-size: cover;
  background-position: center;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.spinner-image {
  width: 40%;
  animation: pulse 2s ease-in-out infinite;
}