.card-body {
  min-height: 600px;
}

.text-custom {
  color: #8b0000;
}

.main-content {
  background-image: url('src/assets/images/1306023.jpg');
  background-size: cover;
  background-position: center;
}