img {
    transition: transform 0.3s;
}

img {
    width: 90px;
}

img:hover {
    transform: scale(1.2);
}
  
.btn-outline-custom {
    color: #212529;
    background-color: rgb(165, 123, 136);
    border-color: rgb(165, 123, 136);
}  

.btn-outline-custom:hover {
    background-color: rgb(135, 95, 108);
    background-image: none;
}

.dropdown {
    max-width: fit-content;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.logout-nav-link {
    cursor: pointer;
}