/*.navbar-nav {
    height: 70px;
    /* Replace 50px with the actual height of your navbar */
/*}

/*.nav-item {
    height: 70px;
    /* Replace 50px with the actual height of your navbar */
    /*line-height: 54px;
    /* Replace 50px with the actual height of your navbar */
    /*padding: 0;
}

/* .nav-item a:hover {
    background-color: #a1848c;
}

.navbar {
    height: 70px;
}

.navbar-brand:hover{
    opacity: 80%;

} */