img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.2);
}
  
.btn-outline-custom {
    color: rgb(165, 123, 136);
    background-color: transparent;
    background-image: none;
    border-color: rgb(165, 123, 136);
}

.btn-outline-custom:hover {
    color: #212529;
    background-color: rgb(165, 123, 136);
    border-color: rgb(165, 123, 136);
}

.dropdown {
    max-width: fit-content;
}

/*.navbar-nav {
    height: 70px;
    /* Replace 50px with the actual height of your navbar */
/*}

/*.nav-item {
    height: 70px;
    /* Replace 50px with the actual height of your navbar */
    /*line-height: 54px;
    /* Replace 50px with the actual height of your navbar */
    /*padding: 0;
}

/* .nav-item a:hover {
    background-color: #a1848c;
}

.navbar {
    height: 70px;
}

.navbar-brand:hover{
    opacity: 80%;

} */