#description {
    min-height: 10vh;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-color: red;
}

.modal-header,
.modal-content,
.modal-footer {
    border: none;
}

.modal-header {
    background-color: #2a2f35;
    .close {
        color: rgba(255, 255, 255, 0.87);
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    background-color: #343a40 !important;
}

.mdc-dialog__title { 
    padding-left: 0;
}