#description {
    min-height: 100px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-color: red;
}

.modal-header,
.modal-content,
.modal-footer {
    border: none;
}

.modal-header {
    background-color: #800000;
}