<app-recipe-detail></app-recipe-detail>
<h1>Edit Recipe</h1>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="btn-toolbar pb-4" role="toolbar" aria-label="...">
                        <div class="btn btn-success" type="submit"  aria-label="...">Save</div>
                        <div class="btn btn-danger" type="submit" aria-label="...">Cancel</div>
                </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input 
                            name="description"
                            type="text" 
                            id="description" 
                            class="form-control" 
                            #descriptionInput>
                    </div>
                </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ingredients">Ingredients</label>
                            <input 
                                name="ingredients"
                                type="text" 
                                id="ingredients" 
                                class="form-control" 
                                #ingredientsInput>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>