<div class="about py-5 text-center text-white">
  <h2>Recipe Book</h2><h4>Version: 1.2.0</h4>
  <img src="../../assets/images/emma-image.jpg" alt="Emma" class="rounded-circle mt-4 emma-image">
  <div class="d-flex justify-content-center mt-3">
    <div class="col-4 justified-text">
      <p>Hello, I'm Emma, the creator of Recipe Book. This app is designed to help food enthusiasts manage their favorite recipes all in one place. Thank you for visiting and I hope you find it useful!</p>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5 mb-3">
      <a class="col-auto mr-4 link-image" title="Github" href="https://github.com/emmapapaioan" target="_blank" rel="noopener" aria-label="Emma's Github">
          <img src="../../assets/icons/github-mark-white.png" alt="https://github.com/emmapapaioan" class="github-image">
      </a>
      <a class="col-auto link-image" title="Linkedin" href="https://www.linkedin.com/in/emma-papaioannou-49b770153?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLwpEGwSmRHWSnH2ZLoDX4w%3D%3D" target="_blank" rel="noopener" aria-label="Emma's LinkedIn">
        <img src="../../assets/icons/LI-In-Bug.png" alt="https://www.linkedin.com/in/emma-papaioannou-49b770153?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLwpEGwSmRHWSnH2ZLoDX4w%3D%3D" class="linkedin-image">
      </a>
  </div>
  <p>If you have any feedback or questions, feel free to reach out via LinkedIn or Github. Happy cooking!</p>
</div>
