.about {
    text-align: center;
    background-image: url('src\assets\images\1306023.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

a {
    color: dodgerblue;
}

a:hover {
    color: deepskyblue;
}

.emma-image {
  filter: grayscale(100%);
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.linkedin-image, .github-image {
  max-height: 100px;
  min-height: 100px;
}

.link-image img {
  transition: transform 0.3s;
}

.link-image img:hover {
  transform: scale(1.1);
}

.text-white {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.justified-text {
  text-align: justify;
  text-justify: inter-word;
}
