input.form-control {
    font-size: 1rem;
    font-weight: 400;
}

.anchor-tag:hover {
    text-shadow: 1px 1px 2px #c7c7c7;
    cursor: pointer;
}

.anchor-tag {
    font-weight: 500;
}

.masthead {
    background-image: url('src\assets\images\1306023.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

:host ::ng-deep .mdc-tab--active {
  background-color: #591719;
  border-radius: 4px;
}

:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {
  color: #FFFFFF !important;
}

:host ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: #FFFFFF !important;
}


