.mdc-data-table__table {
  border-radius: 40rem;
}

#recipe-img {
  width: 100%;
}

.container {
  max-width: 70%;
}

.details-container {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 150px);
  background-image: url('src/assets/images/details.jpg');
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  background-color: #343a40 !important;
}

.anchor-tag {
  color: black;
  font-weight: 500;
}

.text-dark {
  color: black;
}
