a:hover {
    cursor: pointer;
}

.table {
    width: 550px;
}

/* Add border to table */
.table {
    border: 1px solid #061b30;
  }
  
  /* Apply border radius to table */
  .table {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
