<div class="main-content pb-5">
    <div class="container py-5 text-white">
        <div class="row justify-content-start">
            <div class="col-6">
                <app-shopping-edit></app-shopping-edit>
            </div>
        </div>
        <div class="row justify-content-start" *ngIf="ingredients">
            <div class="col-6">
                <h3>Shopping List</h3>
                <div class="list-group">
                    <a 
                        *ngFor="let ingredient of ingredients"
                        class="list-group-item list-group-item-action list-group-item-light" 
                        style="cursor: pointer"
                        [class.selected-ingredient]="selectedIngredientId === ingredient.id"
                        (click)="onEditIngredient(ingredient.id)">
                        {{ingredient.name}} ({{ingredient.amount}})</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-start" *ngIf="!ingredients">
            <div class="col-12">
                <h4>Shopping List is empty. Let's add some ingredients!</h4>
            </div>
        </div>
    </div>
</div>