<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="showOnlyOddNumbers()">Only show odd numbers</button>
            <br><br>
            <ul class="list-group">
                <li class="list-group item" *ngFor="let number of numbers">
                    {{number}}
                </li>
            </ul>
        </div>
    </div>
</div>
<app-child-test></app-child-test>
 -->
<!-- <div class="d-flex justify-content-center">Testing</div> -->
<div class="card mb-2">

    <div class="card-body">
  
      <lib-expand-handler
  
        [title]="'Ενέργειες'"
  
        [expanded]="true"
  
        [testTag]="'actionsExpand'"
  
        [hasAlert]="!!campaignsWithMessages?.length"
  
        [extraClass]="'overflow-y-300'"
  
      >
  
      
  
  
  
  
        <div *ngFor="let campaign of campaignsV2" class="form-row mb-2">
          <div class="col-6">{{ campaign.campaignLaunchDate | date: 'dd/MM/yyyy' }} - {{ campaign.campaignEndDate | date: 'dd/MM/yyyy' }}</div>
          <div *ngIf="!canEditNextBestOffer" class="col-6">
            <a
              class="font-weight-bold cursor hover-class"
              (click)="onCampaignClick(campaign)"
              test-button="actionsCreateResponseDialogBtn"
            >{{ campaign.parentActionName }}</a>
            <div>{{ campaign.actionListStatus }}</div>
          </div>
        </div>
      </lib-expand-handler>
    </div>
  </div>