.card {
    max-width: 100%;
    min-width: 15rem;
    min-height: 100%;
}

a {
    color: black;
}

.card:hover {
    background-color: #ccc;
}

.active {
    border-color: #333;
    background-color: #ccc;
}
  
a:hover {
    text-decoration: none;
}

.card-img-top {
    height: 17rem;
    object-fit: cover;
}

.card-text {
    height: 6rem;
    overflow: hidden;
}

.list-group-item-heading {
    font-weight: 550;
}


  