<a 
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <div class="pull-left" >
        <p 
            id="details" 
            class="list-group-item-text"
            style="width: 248px">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <img 
            [src]="recipe.imagePath" 
            alt=" {{ recipe.name }} img not available" 
            class="img-responsive"
            style="height: 150px; width: 150px;">
    </span>
</a>