.text-custom {
    color: rgb(165, 123, 136);
}

.page-section {
    background-image: url('src\assets\images\pexels-tirachard-kumtanom-450055.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 150px);
}
