@import '../node_modules/@angular/material/theming';

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-blue-grey);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

@include angular-material-theme($theme);